html,
body {
  height: 100%;
}

:global #page {
  min-height: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 1100px;
}

.navbar {
  background-color: #ddd;
  width: 220px;
  flex-shrink: 0;
}

#home-button {
  display: block;
  padding: 6px 0;
  font-size: 36px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  text-align: center;
}

#home-button:hover {
  text-decoration: underline;
}

.main {
  flex-grow: 1;
}

.header {
  display: flex;
  height: 67px;
  color: #222;
  justify-content: flex-end;
  border-bottom: 1px solid #eee;
}

.header-user {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header-user-icon {
  width: 36px;
  height: auto;
  margin-right: 6px;
}

.page_content {
  padding: 12px;
}
